html{
  font-size: 16px;
}
body {
  background-color: violet;
  font-family: sans-serif;
}
header {
  width: 75vw;
  margin: 25px auto;
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
.col {
  width: 50%;
  float: left;
  padding: 0 25px;
}
h1 {
  font-size: 4rem;
  text-align: left;
  text-transform: uppercase;
  font-family: monospace;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  text-align: left;
  font-family: monospace;
  font-weight: 700;
}
a:link, a:visited {
  color: black;
}
li{
  font-size: 2rem;
}
@media screen and (max-width: 900px) {
  .col {
    width: 100%;
    margin-bottom: 50px;
  }
  header {
    width: 90vw;
  }
  main {
    width: 90vw;
  }
  h1 {
    font-size: 3rem;
  }
}
